<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Responsive Login Form | Signup Form | Login Form Design | HTML5 | CSS3 | Code4Education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body >
<main class="main" style="background: url('{% static 'images/22.jpeg' %}') no-repeat center center fixed; background-size:cover">
    <div class="wrapper" >
        <div class="card">
            <div class="title">
                <h1 class="title title-large">Admin Login</h1>
                <p class="title title-subs"><span>Only authorized admin can login</span></p>
                <span class='error-message' id='name-error'>
                {% for message in messages %}
              <div style="color: #FF4B2B;">
                <span>{{message}}</span>
              </div>
            {% endfor %}
            </div>
            <form class="form" method="post" id="login_form" name="login_form">
            {% csrf_token %}
                <div class="form-group">
                    <input type="username" name="username" id="username" class="input-field" placeholder="User Name" onkeyup='validateName()'>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="input-field" placeholder="Password" onkeyup='validatePassword()'>
                </div>
                <div class="form-group">
                    <a href="./index.html" class="linktext"></a>
                    <!--<input type="button" name="submit" class="input-submit" value="Login">-->
                    <button onclick='validateForm()'>Signup</button>
                </div>
            </form>
            <div class="line">
                <span class="line-bar"></span>
                <span class="line-text">Or</span>
                <span class="line-bar"></span>
            </div>
            <div class="method">
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-google fab fa-google"></i>
                        <span>Sign in with Google</span>
                    </a>
                </div>
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-facebook fab fa-facebook"></i>
                        <span>Sign in with Facebook</span>
                    </a>
                </div>
                <div class="method-item">
                    <a href="#" class="btn-action">
                        <i class="icons icons-apple fab fa-apple"></i>
                        <span>Sign in with Apple</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
        document.login_form.addEventListener("submit", function (event) {
		var user = this.querySelector("input[id=username]").value;
		var pass = this.querySelector("input[id=password]").value;
		var regx = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var maxx = /^[A-Za-z]*$/

		if (user.trim() == "" || !user.match(maxx)) {
		document.getElementById("username").focus();
		event.preventDefault();
		}
		else if (pass.trim() == "" || pass.length < 8 ) {
		document.getElementById("password").focus();
		event.preventDefault();
		}
		});
    function validateName() {

      var name = document.getElementById('username').value;

      if(name.length == 0) {

        producePrompt('Enter your name', 'name-error' , 'red')
        return false;

      }

      if (!name.match(/^[A-Za-z]*$/)) {

        producePrompt('Enter a valid user name.','name-error', 'red');
        return false;

      }

      producePrompt('valid username', 'name-error', 'green');
      return true;

    }
    function validatePassword() {

		var name = document.getElementById('password').value;

		if(name.length == 0) {

		producePrompt('Enter you password', 'name-error' , 'red')
		return false;

		}
		if(name.length >8){
			producePrompt('Valid Password', 'name-error' , 'green')
			return false;
		}


		producePrompt('Password must 8', 'name-error', 'red');
		return true;

	}

    

    function validateForm() {
      if (!validateName() || !validatePhone() || !validateEmail() || !validateMessage()) {
        jsShow('submit-error');
        producePrompt('Please fix errors to submit.', 'submit-error', '');
        setTimeout(function(){jsHide('submit-error');}, 2000);
      }
      else {

      }
    }

    function jsShow(id) {
      document.getElementById(id).style.display = 'block';
    }

    function jsHide(id) {
      document.getElementById(id).style.display = 'none';
    }




    function producePrompt(message, promptLocation, color) {

      document.getElementById(promptLocation).innerHTML = message;
      document.getElementById(promptLocation).style.color = color;


    }

    </script>
</body>
</html>

